@use "../abstracts";

.cate-item {
  display: flex;
  gap: 20px;

  height: 100%;
  background: var(--cate-item-bg);
  padding: 20px 26px 20px 20px;
  border-radius: 16px;

  @include abstracts.breakpoint(xl) {
    flex-direction: column;
  }

  @include abstracts.breakpoint(md) {
    flex-direction: row;
    background: #fff;
  }

  &__thumb {
    width: 116px;
    height: 116px;
    object-fit: contain;
    background: var(--cate-item-thumb-bg);
    border-radius: 8px;

    @include abstracts.breakpoint(xl) {
      display: block;
      width: 100%;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
    }

    @include abstracts.breakpoint(md) {
      width: 88px;
      height: 88px;
      margin: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;

    @include abstracts.breakpoint(xxl) {
      padding-right: 0;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 32px;

    @include abstracts.breakpoint(md) {
      font-size: 1.8rem;
      line-height: 26px;
    }
  }

  &__title, &__desc {
    color: var(--text-color);
  }

  &__desc {
    margin-top: 6px;  
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;

    @include abstracts.breakpoint(md) {
      font-size: 1.4rem;
      line-height: 20px;
    }
  }
}