<div class="footer__inner">
  <div class="footer__row">
    <!-- Footer column 1 -->
    <div class="footer__col">
      <h3 class="footer__heading">SHOP</h3>
      <div class="footer__list">
        <p class="footer__item">By Category</p>
        <p class="footer__item">Shop Home</p>
        <p class="footer__item">Mens</p>
        <p class="footer__item">Womens</p>
        <p class="footer__item">Kids</p>
        <p class="footer__item">Classics</p>
      </div>
    </div>

    <!-- Footer column 2 -->
    <div class="footer__col">
      <h3 class="footer__heading">SPORTS</h3>
      <div class="footer__list">
        <p class="footer__item">Skate</p>
        <p class="footer__item">Surf</p>
        <p class="footer__item">Women's Surf</p>
        <p class="footer__item">Snow</p>
        <p class="footer__item">BMX</p>
      </div>
    </div>

    <!-- Footer column 3 -->
    <div class="footer__col">
      <h3 class="footer__heading">SUPPORT</h3>
      <div class="footer__list">
        <p class="footer__item">Store Locator</p>
        <p class="footer__item">Order Status</p>
        <p class="footer__item">Mens</p>
      </div>
    </div>

    <!-- Footer column 4 -->
    <div class="footer__col">
      <h3 class="footer__heading">COMPANYY</h3>
      <div class="footer__list">
        <p class="footer__item">Custom Service</p>
        <p class="footer__item">Terms of Use</p>
        <p class="footer__item">Privacy</p>
        <p class="footer__item">Careers</p>
        <p class="footer__item">About</p>
        <p class="footer__item">CA Supply Chains Act</p>
        <p class="footer__item">Sustanability</p>
        <p class="footer__item">Affiliates</p>
        <p class="footer__item">Recall Info</p>
      </div>
    </div>

    <!-- Footer Contact -->
    <div class="footer__col footer__contact">
      <h3 class="footer__heading">CONTACT</h3>
      <!-- Email -->
      <div class="footer__contact-wrap">
        <div class="footer__contact-heading">Email</div>
        <a href="#!" class="footer__contact-action">Contact us</a>
      </div>
      <!-- Telephone  -->
      <div class="footer__contact-wrap">
        <div class="footer__contact-heading">Telephone</div>
        <a href="#!" class="footer__contact-action">855-909-8267</a>
      </div>
      <!-- Address  -->
      <div class="footer__contact-wrap">
        <div class="footer__contact-heading">Address</div>
        <p class="footer__contact-desc">1588 South Coast Dr</p>
        <p class="footer__contact-desc">Costa Mesa, CA 92626</p>
      </div>

      <!-- Hours  -->
      <div class="footer__contact-wrap">
        <div class="footer__contact-heading">Hours</div>
        <p class="footer__contact-desc">M - F 6:00am - 8:00pm PST</p>
      </div>
    </div>
  </div>

  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">STORE LOCATOR</h3>
      <p class="footer__desc">Find a Vans store near you</p>
      <button class="btn footer__btn">FIND A STORE</button>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">FOLLOW VANS</h3>
      <div class="footer__wrap">
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/facebook.svg" alt="" class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img
              src="./assets/icons/instagram.svg"
              alt=""
              class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/twich.svg" alt="" class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/twitter.svg" alt="" class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/youtube.svg" alt="" class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/line.svg" alt="" class="footer__icon"
          /></a>
        </div>
        <div class="footer__wrap-icon">
          <a href="#!"
            ><img src="./assets/icons/linkedin.svg" alt="" class="footer__icon"
          /></a>
        </div>
      </div>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">SUBCRIBE</h3>
      <p class="footer__desc">Receive product news and updates in your inbox</p>
      <input
        type="text"
        name=""
        class="footer__input"
        placeholder="Email Address"
      />
    </div>
  </div>
</div>
